<div class="_slide_1yb9p_1" style="--862c9218: 8px;">
  <a href="/film?filmId={film_id}">
  <div class="_item_dpzkb_16" data-tid="content_kinomItem">
    <div class="_skeleton_dpzkb_1">
      <div class="_moment_dpzkb_8" data-v-app="" style="height: initial;">
        <div class="rootVideo _player_1o5po_1 _playerRounded_1o5po_41 ym-hide-content" aria-label="Проигрыватель Viju" data-tid="player_common_root" style="overflow: hidden; --native-ios-fullscreen-enabled: false; --root-player-width: 456.59375px; --root-player-height: 256.828125px;">
          <div class="_videoPlayer_uahk0_1">
            <div class="_videoPlayerWrapper_uahk0_1">
              <div data-layer-fullscreen="true" class="_layer_bwdsx_1 _fullscreen_bwdsx_5 _kinomPreview_1jic3_1">
                <picture>
                  <source>
                  <img class="_img_1799i_1 _image_1jic3_6" fetchpriority="auto" loading="eager"
                       src="{film_image}">
                </picture>
              </div></div>
          </div>
        </div>
      </div>
    </div>
    <h5 class="_kinomTitle_dpzkb_19"><span data-nosnippet="">{film_name}</span></h5>
    <p class="_contentCardSubtitle_1cf7p_1"><span data-nosnippet="">{film_description}</span></p>
  </div>
  </a>
</div>
