:root {
  --color-non-standart-smart-tv-profile-icon: #9d62c1;
  --g-spacing-0: 0;
  --g-spacing-2: 2px;
  --g-spacing-4: 4px;
  --g-spacing-6: 6px;
  --g-spacing-8: 8px;
  --g-spacing-10: 10px;
  --g-spacing-12: 12px;
  --g-spacing-16: 16px;
  --g-spacing-18: 18px;
  --g-spacing-20: 20px;
  --g-spacing-24: 24px;
  --g-spacing-28: 28px;
  --g-spacing-32: 32px;
  --g-spacing-40: 40px;
  --g-spacing-48: 48px;
  --g-spacing-56: 56px;
  --g-spacing-60: 60px;
  --g-spacing-64: 64px;
  --g-spacing-80: 80px;
  --g-border-round-2: 2px;
  --g-border-round-8: 8px;
  --g-border-round-10: 10px;
  --g-border-round-12: 12px;
  --g-border-round-16: 16px;
  --g-border-round-20: 20px;
  --g-border-round-24: 24px;
  --g-border-round-32: 32px;
  --g-animation-color-fast: color .15s ease-in-out;
  --g-animation-color-normal: color .3s ease-in-out;
  --g-bg-blur-12: blur(12px);
  --color-notheme-bg-primary: #000;
  --color-notheme-dim-black-40: rgba(8,17,16,.4);
  --color-notheme-dim-black-60: rgba(8,17,16,.6);
  --color-notheme-bg-accent: #00c7b2;
  --color-notheme-bg-pressed: #0cae9d;
  --color-notheme-bg-loading: #00c7b2;
  --color-notheme-bg-disabled: #3f5056;
  --color-notheme-bg-banner-button: #081110;
  --color-notheme-bg-banner-button-pressed: #000;
  --color-notheme-text-accent: #081110;
  --color-notheme-text-label: #00c7b2;
  --color-notheme-icon-accent: #081110;
  --color-notheme-bg-secondary-80: rgba(87,92,94,.8);
  --color-notheme-bg-secondary-30: rgba(87,92,94,.3);
  --color-notheme-bg-secondary-70: rgba(87,92,94,.7);
  --color-notheme-bg-tertiary-80: hsla(200,3%,47%,.8);
  --color-notheme-bg-hover-70: hsla(204,2%,52%,.7);
  --color-notheme-bg-alert: rgba(9,30,30,.9);
  --color-notheme-icon-primary: #f6f1f0;
  --color-notheme-icon-additional: #d2d5d5;
  --color-notheme-icon-secondary: #b9bebe;
  --color-notheme-text-primary: #fbf8f7;
  --color-notheme-text-additional: #d2d5d5;
  --color-notheme-text-secondary: #b9bebe;
  --color-notheme-text-disabled: #818e92;
  --color-no-theme-text-action-extra: #4bee6f;
  --color-notheme-white-100: #fff;
  --color-notheme-white-50: hsla(0,0%,100%,.5);
  --color-notheme-white-40: hsla(0,0%,100%,.4);
  --color-notheme-white-20: hsla(0,0%,100%,.2);
  --color-notheme-text-action: #f8aaff;
  --color-no-theme-icon-secondary: #878888
}

html.themeDark {
  --color-text-primary: #fbf8f7;
  --color-text-additional: #d2d5d5;
  --color-text-secondary: #b9bebe;
  --color-text-tertiary: #9ca6a7;
  --color-text-accent: #00c7b2;
  --color-text-link: #00c7b2;
  --color-text-negative: #f94d57;
  --color-bg-primary: #081110;
  --color-bg-secondary: #1f3132;
  --color-bg-secondary-80: rgba(87, 92, 94, .8);
  --color-bg-secondary-60: rgba(0, 17, 19, .6);
  --color-bg-secondary-50: rgba(31, 49, 50, .5);
  --color-bg-ghost: hsla(0, 0%, 100%, .2);
  --color-bg-modal: #1f3132;
  --color-bg-tertiary: #2e4143;
  --color-bg-button: #3f5056;
  --color-bg-field: #36484d;
  --color-bg-accent: #00c7b2;
  --color-bg-negative: #f94d57;
  --color-bg-negative-dark: #ac2d34;
  --color-icon-primary: #f6f1f0;
  --color-icon-additional: #d2d5d5;
  --color-icon-secondary: #aab2b3;
  --color-icon-accent: #00c7b2;
  --color-icon-negative: #f94d57;
  --color-bg-negative-notification: #353833;
  --color-stroke-div-primary: #3f5056;
  --color-stroke-field-border: #3f5056;
  --color-stroke-border-active: #9aa5a7;
  --color-stroke-active: #fbf8f7;
  --color-stroke-secondary: #b6bdbd;
  --color-stroke-border-accent: #00c7b2;
  --color-stroke-border-negative: #f94d57;
  --color-stroke-accent-action: #f8aaff;
  --color-states-link-hover: #4dd8c9;
  --color-states-link-visited: #0cae9d;
  --color-states-text-disabled: #818e92;
  --color-states-link-negative-hover: #fb8289;
  --color-states-bg-accent-50: rgba(0, 199, 178, .5);
  --color-states-bg-accent-hover: #4dd8c9;
  --color-states-bg-accent-pressed: #0cae9d;
  --color-states-bg-accent-disabled: #424f4f;
  --color-states-icon-disabled: #69787d;
  --color-states-bg-secondary-hover: #546262;
  --color-states-bg-secondary-pressed: #001113;
  --color-states-bg-secondary-disabled: rgba(41, 56, 60, .5);
  --color-states-bg-secondary-hover-70: hsla(204, 2%, 52%, .7);
  --color-states-bg-tertiary-pressed: #1c2729;
  --color-states-bg-ghost-hover: hsla(0, 0%, 100%, .3);
  --gradient-to-top: linear-gradient(0deg, rgba(8, 17, 16, 0), #081110);
  --gradient-to-bottom: linear-gradient(180deg, rgba(8, 17, 16, 0), #081110);
  --gradient-to-right: linear-gradient(90deg, rgba(8, 17, 16, 0), #081110);
  --gradient-to-left: linear-gradient(90deg, #081110, rgba(8, 17, 16, 0));
  --gradient-content: linear-gradient(270deg, #081110 59.14%, rgba(8, 17, 16, 0) 90.97%);
  --gradient-banner: radial-gradient(490.08% 102.7% at 0% 0%, #be7a93 0%, #ccaac8 100%);
  --gradient-fade-dark: linear-gradient(90deg, rgba(54, 72, 77, 0), #36484d)
}

html.themeLight {
  --color-text-primary: #081110;
  --color-text-additional: #675e5c;
  --color-text-secondary: #7d7472;
  --color-text-tertiary: #908886;
  --color-text-accent: #00b29d;
  --color-text-link: #00b29d;
  --color-text-negative: #ff7940;
  --color-bg-primary: #f2ebe9;
  --color-bg-secondary: #fbf8f7;
  --color-bg-secondary-80: hsla(17,7%,81%,.8);
  --color-bg-secondary-60: rgba(103,94,92,.6);
  --color-bg-secondary-50: hsla(15,33%,98%,.5);
  --color-bg-ghost: hsla(0,0%,100%,.2);
  --color-bg-modal: #e8dfdd;
  --color-bg-tertiary: #e8dfdd;
  --color-bg-button: #e2d9d8;
  --color-bg-field: #ddd5d3;
  --color-bg-accent: #00c7b2;
  --color-bg-negative: #ff7940;
  --color-icon-primary: #0d1919;
  --color-icon-additional: #675e5c;
  --color-icon-secondary: #867e7d;
  --color-icon-accent: #00b29d;
  --color-icon-negative: #ff7940;
  --color-bg-negative-notification: #fff2ec;
  --color-stroke-div-primary: #ddd5d4;
  --color-stroke-field-border: #ddd5d4;
  --color-stroke-border-active: #8f8785;
  --color-stroke-active: #fbf8f7;
  --color-stroke-secondary: #b6bdbd;
  --color-stroke-border-accent: #00b29d;
  --color-stroke-border-negative: #ff7940;
  --color-stroke-accent-action: #f8aaff;
  --color-states-link-hover: #069988;
  --color-states-link-visited: #069988;
  --color-states-text-disabled: #a39b9a;
  --color-states-link-negative-hover: #fb8289;
  --color-states-bg-accent-50: rgba(0,199,178,.5);
  --color-states-bg-accent-hover: #4dd8c9;
  --color-states-bg-accent-pressed: #0cae9d;
  --color-states-bg-accent-disabled: #ddd5d4;
  --color-states-icon-disabled: #b4adac;
  --color-states-bg-secondary-hover: #ddd5d4;
  --color-states-bg-secondary-pressed: #001113;
  --color-states-bg-secondary-disabled: rgba(41,56,60,.5);
  --color-states-bg-secondary-hover-70: hsla(7,12%,85%,.7);
  --color-states-bg-tertiary-pressed: #ddd1ce;
  --color-states-bg-ghost-hover: hsla(0,0%,100%,.3);
  --gradient-to-top: linear-gradient(0deg,rgba(18,33,33,0),#122121);
  --gradient-to-bottom: linear-gradient(180deg,rgba(18,33,33,0),#122121);
  --gradient-to-right: linear-gradient(90deg,hsla(13,26%,93%,0),#f2ebe9);
  --gradient-to-left: linear-gradient(90deg,#fff6f4,rgba(255,246,244,0));
  --gradient-content: linear-gradient(270deg,#fff6f4 59.14%,rgba(255,246,244,0) 90.97%);
  --gradient-banner: radial-gradient(490.08% 102.7% at 0% 0%,#be7a93 0%,#ccaac8 100%)
}
